<!DOCTYPE html>
<html>
<head>
<title>Snake</title>    
<style>
    canvas {background: black}
</style>
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
</style>
<script src="vendor/snake_game.js"></script>
</head>
    
<body style="background-color: black;" onload="init();">
  <center>
    <canvas id="myCanvas" class="border border-light" width="300" height="300">
    </canvas>
  </center>
  
</body>
</html>